<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <springProperty scope="context" name="kakfaHost" source="kafka.host" defaultValue="localhost:9092"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss SSS} [%X{PtxId}] [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
        <topic>test</topic>
        <appender-ref ref="CONSOLE"/>
        <producerConfig>bootstrap.servers=${kakfaHost}</producerConfig>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="KAFKA"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>